/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(53, 46, 54);
}

.top-sec {
    background: rgb(0, 0, 0);
    cursor: default;
    position: sticky;
    top: 0;
}

/* NAV BAR STYLES */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 15%;
}

#logo {
    color: whitesmoke;
    font-size: 30px;
    margin-left: -100px;
}

span:hover {
    cursor: pointer;
    color: rgb(220, 4, 4);
}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px 30px;
    margin-top: 20px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin: 60px;
}

.nav-bar ul li a:hover {
    color: rgb(220, 4, 4);
    transition: .3s;
}

/* ADD SNEAKER BUTTON */
#add-sneaker {
    background: rgb(220, 4, 4);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    top: 30px;
    right: 20px;
    transition: .4s;
    border-style: none;
}

#add-sneaker:hover {
    background: white;
    color: rgb(220, 4, 4);
    transform: scale(1.2);
    cursor: pointer;
}

/* SNEAKER CART STYLES */
.sneaker-cart {
    position: fixed;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #c6c4c4;
    transition: right 0.3s ease;
}

.sneaker-cart.open {
    right: 0;
}

#close {
    width: 140px;
    padding: 30px 64px 30px 50px;
    color: white;
    background: rgb(220, 4, 4);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
}

#close:hover {
    background: darkred;
}

#add {
    padding: 30px 51px 30px 48px;
    border: none;
    border-radius: 10px;
    background: rgb(3, 159, 3);
    color: white;
    font-weight: bold;
    font-style: italic;
}

#add:hover {
    background: darkgreen;
}

#reset {
    display: block;
    padding: 10px 128px 10px 117px;
    color: white;
    background: grey;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 25px;
}

#reset:hover {
    background: rgb(70, 70, 70);
}

.cart-buttons {
    margin-left: 30px;
    margin-right: 3px;
}


/* SNEAKER FORM DETAILS STYLES*/
#sneaker-name-text {
    display: block;
    height: 50px;
    padding: 40px 165px 40px 10px;
    margin-right: 100px;
    border: none;
}

#sneaker-price-text {
    display: block;
    height: 40px 255px 40px 10px;
    border: none;
}

#sneaker-color-text {
    display: block;
    height: 50px;
    padding: 40px 165px 40px 10px;
    border: none;
}

#sneaker-rating-text {
    display: block;
    height: 50px;
    padding: 40px 269px 40px 10px;
    border: none;
}

#sneaker-rating-text::placeholder {
    margin-left: -100px;
}

/* STOCK DROPDOWN STYLES*/
.stock {
    width: 200px;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin-top: 390px;
    margin-left: 65px;
}