/* GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(53, 46, 54);
}

.top-sec {
    background: rgb(0, 0, 0);
    cursor: default;
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 15%;
}

#logo {
    color: whitesmoke;
    font-size: 30px;
    margin-left: -100px;
}

span:hover {
    cursor: pointer;
    color: rgb(220, 4, 4);
}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px 30px;
    margin-top: 20px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin: 60px;
}

.nav-bar ul li a:hover {
    color: rgb(220, 4, 4);
    transition: .3s;
}

#add-sneaker {
    background: rgb(220, 4, 4);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    top: 30px;
    right: 20px;
    transition: .4s;
    border-style: none;
}

#add-sneaker:hover {
    background: white;
    color: rgb(220, 4, 4);
    transform: scale(1.2);
    cursor: pointer;
}